# .env.example

# Entorno (development o production)
NODE_ENV=development

# Base de datos PostgreSQL local
LOCAL_DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/nombre_db

# Base de datos PostgreSQL en producción (Render)
DATABASE_URL=postgresql://usuario:contraseña@host:5432/nombre_db

# MongoDB local
LOCAL_MONGODB_URI=mongodb://localhost:27017/nombre_db

# MongoDB en producción
MONGODB_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/nombre_db

# Clave secreta (por ejemplo para sesiones o JWT)
SECRET_KEY=tu_clave_super_secreta