extends layout 

block content 
    main.main 
        form(action="")
            label(for="MAIL")
            input#MAIL(type="text")
            input(type="submit" value="Recuperar contraseña")  